.dark-mode-toggle {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;
}

.dark-mode-toggle img {
  width: 30px;
  height: 30px;
}

.dark-mode-toggle:hover {
  transform: scale(1.2);
}

.dark-mode-toggle:active {
  transform: scale(0.9);
}
