#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.toggle-btn {
  position: fixed;
  top: 2rem;
  left: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;
}

.toggle-btn img {
  width: 30px;
  height: 30px;
}

.toggle-btn:hover {
  transform: scale(1.2);
}

.toggle-btn:active {
  transform: scale(0.9);
}


.schedule-section {
  position: fixed;
  top: 5rem;
  left: 2rem;
  width: 300px;
  max-height: 80%;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideIn 0.3s ease-out;
  text-align: left;
}

.darkmode .schedule-section {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
